.InfoBox {
  margin:0px;
  padding:0px;
  display:block;
  background-color: #f1f1f1;
  width: 100%;
  height:1500px;
  overflow: hidden;
}

h1 {
  font-family: Arial;
}

.Info1 {
  width:100%;
  background-color: #f1f1f1;
  overflow:hidden;
  display:inline-block;
}

.Info1 .Text {
  display:inline-block;
  font-family:Arial;
  font-size:14px;
  overflow: hidden;
  margin:0px;
  padding:0px;
  float:left;
}

.Info1 .Text p {
  width:50%;
  margin:0px;
  padding:0px;
}

#Img1 {
  float:right;
  width:40%;
  display:block;
  margin:0px;
  padding:0px;
}

.Info2 {
  width:100%;
  background-color: #f1f1f1;
  overflow:hidden;
  display:inline-block;
}

.Info2 #Text {
  display:inline-block;
  font-family:Arial;
  font-size:14px;
  overflow: hidden;
  margin:0px;
  padding:0px;
  float:left;
  width:50%;
}

.Info2 #Images {
  float:right;
  width:40%;
  margin:0px;
  padding:0px;
}
