html, body {
  padding: 0px;
  margin: 0px;
}

.Header {
  display: block;
  background-color: #7FBA76;
  width: 100%;
  margin:0px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow:hidden;
}

.Header img {
  display: block;
  float: left;
  padding-left:10px;
  padding-right:10px;
}

.Header h1 {
 display: block;
 color: white;
 font-family: Arial;
 margin: auto;
}

.Nav {
  display:block;
  margin:0px;
  padding-top:10px;
  padding-bottom:10px;
  width:100%;
  background-color:#6B9864;
  overflow:hidden
}

.Nav a {
  display:block;
  padding:10px;
  text-decoration:none;
  font-family:Arial;
  color:white;
  float:left;
}

.Nav a:hover {
  background-color:#90C089;
}

.Reference {
  color: #8F8F8F;
  font-size:10px;
}

footer h2 {
  background-color: #7C7C7C;
  font-family:Arial;
  font-size:12px;
  margin:0px;
}

footer {
  padding:10px;
  background-color: #7C7C7C;
}
